/* Colours */
:root {
  --border: hsl(228, 31%, 92%);
  --border-90: hsla(228, 31%, 91%, 90%);
  --border-60: hsla(228, 31%, 90%, 60%);
  --border-lite: hsl(228, 31%, 94%);
  --background: hsl(228, 31%, 96%);
  --background-20: hsla(228, 31%, 96%, 25%);
  --background-70: hsla(228, 31%, 96%, 70%);
  --h1: hsl(228, 31%, 19%);
  --h2: hsl(228, 31%, 23%);
  --h3: hsl(228, 31%, 27%);
  --h4: hsl(228, 31%, 31%) --text: hsl(228, 31%, 35%);
  --text: hsl(228, 31%, 35%);
  --accent1a: hsl(150, 31%, 32%);
  --accent1b: hsl(150, 31%, 40%);
  --accent2a: hsl(283, 25%, 56%);
  --accent2b: hsl(283, 25%, 62%);
  --mid-blue: hsl(228, 31%, 69%);
  --link-line: hsl(228, 31%, 69%);
  --link-background: hsla(228, 31%, 90%, 60%);
  --outer-shadow: hsla(228, 31%, 31%, 6%);
  --outer-shadow-darker: hsla(228, 31%, 31%, 10%);
  --inner-shadow: hsla(228, 31%, 31%, 2%);
  --inner-shadow-darker: hsla(228, 31%, 31%, 5%);
  --lightbox-background: hsla(228, 31%, 10%, 80%);
  --lightbox-caption: hsla(228, 31%, 92%, 60%);
  --lightbox-caption-hover: hsla(228, 31%, 92%, 90%);
  --lightbox-arrow: hsl(228, 31%, 35%);
  --lightbox-text: hsl(228, 31%, 96%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --border: hsl(228, 31%, 10%);
    --border-90: hsla(228, 31%, 10%, 90%);
    --border-60: hsla(228, 31%, 10%, 60%);
    --border-lite: hsl(228, 31%, 12%);
    --background: hsl(228, 31%, 15%);
    --background-20: hsla(228, 31%, 15%, 30%);
    --background-70: hsla(228, 31%, 15%, 60%);
    --h1: hsl(228, 31%, 96%);
    --h2: hsl(228, 31%, 94%);
    --h3: hsl(228, 31%, 92%);
    --h4: hsl(228, 31%, 90%);
    --text: hsl(228, 31%, 88%);
    --accent1a: hsl(170, 31%, 36%);
    --accent1b: hsl(170, 31%, 48%);
    --accent2a: hsl(283, 25%, 58%);
    --accent2b: hsl(283, 25%, 68%);
    --link-line: hsl(170, 31%, 36%);
    --link-background: hsl(228, 31%, 10%, 60%);
    --outer-shadow: hsla(228, 31%, 7%, 15%);
    --outer-shadow-darker: hsla(228, 31%, 4%, 25%);
    --inner-shadow: hsla(228, 31%, 20%, 10%);
    --inner-shadow-darker: hsla(228, 31%, 30%, 15%);
  }
}

/* Shadows */
:root {
  --drop-shadow-image: drop-shadow(1px 2px 3px var(--outer-shadow))
    drop-shadow(2px 4px 6px var(--outer-shadow))
    drop-shadow(8px 16px 24px var(--outer-shadow));
  --drop-shadow-image-hover: drop-shadow(2px 4px 6px var(--outer-shadow-darker))
    drop-shadow(8px 16px 24px var(--outer-shadow-darker))
    drop-shadow(16px 32px 48px var(--outer-shadow-darker));

  --box-shadow-card: 0.2px 0.4px 0.8px -10px hsla(228, 31%, 10%, 3%),
    0.4px 0.8px 2px -10px hsla(228, 31%, 10%, 3%),
    0.8px 2px 4px -10px hsla(228, 31%, 10%, 4%),
    1.6px 3px 7px -10px hsla(228, 31%, 10%, 5%),
    2.4px 6px 13px -10px hsla(228, 31%, 10%, 6%),
    6px 12px 30px -10px hsla(228, 31%, 10%, 8%);
  --box-shadow-card-hover: 0.2px 0.4px 0.8px -10px hsla(228, 31%, 10%, 3%),
    0.4px 0.8px 2px -10px hsla(228, 31%, 10%, 3%),
    0.8px 2px 4px -10px hsla(228, 31%, 10%, 4%),
    1.6px 3px 7px -10px hsla(228, 31%, 10%, 5%),
    2.4px 6px 13px -10px hsla(228, 31%, 10%, 6%),
    4px 10px 25px -10px hsla(228, 31%, 10%, 8%),
    8px 15px 40px -10px hsla(228, 31%, 10%, 10%);

  --drop-shadow-link: drop-shadow(0.2px 0.4px 0.8px hsla(228, 31%, 10%, 3%))
    drop-shadow(0.4px 0.8px 2px hsla(228, 31%, 10%, 3%))
    drop-shadow(0.8px 2px 4px hsla(228, 31%, 10%, 4%))
    drop-shadow(1.6px 3px 7px hsla(228, 31%, 10%, 5%))
    drop-shadow(2.4px 6px 13px hsla(228, 31%, 10%, 6%))
    drop-shadow(6px 12px 30px hsla(228, 31%, 10%, 8%));

  --drop-shadow-icon: drop-shadow(1px 2px 3px var(--outer-shadow))
    drop-shadow(2px 4px 6px var(--outer-shadow));
  --drop-shadow-icon-hover: drop-shadow(1px 2px 3px var(--outer-shadow-darker))
    drop-shadow(3px 6px 9px var(--outer-shadow-darker));

  --box-shadow-inner: inset 1px 2px 3px var(--inner-shadow),
    inset 2px 4px 6px var(--inner-shadow), inset 3px 6px 9px var(--inner-shadow);

  --box-shadow-inner-hover: inset 1px 2px 3px var(--inner-shadow-darker),
    inset 2px 4px 6px var(--inner-shadow-darker),
    inset 4px 8px 12px var(--inner-shadow-darker);

  --box-shadow-link-line: inset 0 -2px 0 var(--link-line);
  --box-shadow-link-background: inset 0 -50px 0 var(--link-background);
  --box-shadow-border-background: inset 0 -50px 0 var(--border);

  --text-shadow-p: -1px -1.66px var(--background),
    -0.5px -1.66px var(--background), 0px -1.66px var(--background),
    -1px -1.33px var(--background), -0.75px -1.33px var(--background),
    -0.5px -1.33px var(--background), -0.25px -1.33px var(--background),
    0 -1.33px var(--background), 0.25px -1.33px var(--background),
    0.5px -1.33px var(--background), 0.75px -1.33px var(--background),
    1px -1.33px var(--background), -1px -1px var(--background),
    -0.75px -1px var(--background), -0.5px -1px var(--background),
    -0.25px -1px var(--background), 0 -1px var(--background),
    0.25px -1px var(--background), 0.5px -1px var(--background),
    0.75px -1px var(--background), 1px -1px var(--background),
    -1px -0.67px var(--background), -0.75px -0.67px var(--background),
    -0.5px -0.67px var(--background), -0.25px -0.67px var(--background),
    0 -0.67px var(--background), 0.25px -0.67px var(--background),
    0.5px -0.67px var(--background), 0.75px -0.67px var(--background),
    1px -0.67px var(--background), -1px -0.33px var(--background),
    -0.75px -0.33px var(--background), -0.5px -0.33px var(--background),
    -0.25px -0.33px var(--background), 0 -0.33px var(--background),
    0.25px -0.33px var(--background), 0.5px -0.33px var(--background),
    0.75px -0.33px var(--background), 1px -0.33px var(--background),
    -1px 0 var(--background), -0.75px 0 var(--background),
    -0.5px 0 var(--background), -0.25px 0 var(--background),
    0.25px 0 var(--background), 0.5px 0 var(--background),
    0.75px 0 var(--background), 1px 0 var(--background),
    -1px 0.33px var(--background), -0.75px 0.33px var(--background),
    -0.5px 0.33px var(--background), -0.25px 0.33px var(--background),
    0 0.33px var(--background), 0.25px 0.33px var(--background),
    0.5px 0.33px var(--background), 0.75px 0.33px var(--background),
    1px 0.33px var(--background), -1px 0.67px var(--background),
    -0.75px 0.67px var(--background), -0.5px 0.67px var(--background),
    -0.25px 0.67px var(--background), 0 0.67px var(--background),
    0.25px 0.67px var(--background), 0.5px 0.67px var(--background),
    0.75px 0.67px var(--background), 1px 0.67px var(--background),
    -1px 1px var(--background), -0.75px 1px var(--background),
    -0.5px 1px var(--background), -0.25px 1px var(--background),
    0 1px var(--background), 0.25px 1px var(--background),
    0.5px 1px var(--background), 0.75px 1px var(--background),
    1px 1px var(--background), -1px 1.33px var(--background),
    -0.75px 1.33px var(--background), -0.5px 1.33px var(--background),
    -0.25px 1.33px var(--background), 0 1.33px var(--background),
    0.25px 1.33px var(--background), 0.5px 1.33px var(--background),
    0.75px 1.33px var(--background), 1px 1.33px var(--background);
  --text-shadow-bq: -1px -1.66px var(--border-lite),
    -0.5px -1.66px var(--border-lite), 0px -1.66px var(--border-lite),
    -1px -1.33px var(--border-lite), -0.75px -1.33px var(--border-lite),
    -0.5px -1.33px var(--border-lite), -0.25px -1.33px var(--border-lite),
    0 -1.33px var(--border-lite), 0.25px -1.33px var(--border-lite),
    0.5px -1.33px var(--border-lite), 0.75px -1.33px var(--border-lite),
    1px -1.33px var(--border-lite), -1px -1px var(--border-lite),
    -0.75px -1px var(--border-lite), -0.5px -1px var(--border-lite),
    -0.25px -1px var(--border-lite), 0 -1px var(--border-lite),
    0.25px -1px var(--border-lite), 0.5px -1px var(--border-lite),
    0.75px -1px var(--border-lite), 1px -1px var(--border-lite),
    -1px -0.67px var(--border-lite), -0.75px -0.67px var(--border-lite),
    -0.5px -0.67px var(--border-lite), -0.25px -0.67px var(--border-lite),
    0 -0.67px var(--border-lite), 0.25px -0.67px var(--border-lite),
    0.5px -0.67px var(--border-lite), 0.75px -0.67px var(--border-lite),
    1px -0.67px var(--border-lite), -1px -0.33px var(--border-lite),
    -0.75px -0.33px var(--border-lite), -0.5px -0.33px var(--border-lite),
    -0.25px -0.33px var(--border-lite), 0 -0.33px var(--border-lite),
    0.25px -0.33px var(--border-lite), 0.5px -0.33px var(--border-lite),
    0.75px -0.33px var(--border-lite), 1px -0.33px var(--border-lite),
    -1px 0 var(--border-lite), -0.75px 0 var(--border-lite),
    -0.5px 0 var(--border-lite), -0.25px 0 var(--border-lite),
    0.25px 0 var(--border-lite), 0.5px 0 var(--border-lite),
    0.75px 0 var(--border-lite), 1px 0 var(--border-lite),
    -1px 0.33px var(--border-lite), -0.75px 0.33px var(--border-lite),
    -0.5px 0.33px var(--border-lite), -0.25px 0.33px var(--border-lite),
    0 0.33px var(--border-lite), 0.25px 0.33px var(--border-lite),
    0.5px 0.33px var(--border-lite), 0.75px 0.33px var(--border-lite),
    1px 0.33px var(--border-lite), -1px 0.67px var(--border-lite),
    -0.75px 0.67px var(--border-lite), -0.5px 0.67px var(--border-lite),
    -0.25px 0.67px var(--border-lite), 0 0.67px var(--border-lite),
    0.25px 0.67px var(--border-lite), 0.5px 0.67px var(--border-lite),
    0.75px 0.67px var(--border-lite), 1px 0.67px var(--border-lite),
    -1px 1px var(--border-lite), -0.75px 1px var(--border-lite),
    -0.5px 1px var(--border-lite), -0.25px 1px var(--border-lite),
    0 1px var(--border-lite), 0.25px 1px var(--border-lite),
    0.5px 1px var(--border-lite), 0.75px 1px var(--border-lite),
    1px 1px var(--border-lite), -1px 1.33px var(--border-lite),
    -0.75px 1.33px var(--border-lite), -0.5px 1.33px var(--border-lite),
    -0.25px 1.33px var(--border-lite), 0 1.33px var(--border-lite),
    0.25px 1.33px var(--border-lite), 0.5px 1.33px var(--border-lite),
    0.75px 1.33px var(--border-lite), 1px 1.33px var(--border-lite);
}

@media (prefers-color-scheme: dark) {
  :root {
    --drop-shadow-image: drop-shadow(1px 2px 3px var(--outer-shadow))
      drop-shadow(2px 4px 6px var(--outer-shadow))
      drop-shadow(8px 16px 24px var(--outer-shadow));
    --drop-shadow-image-hover: drop-shadow(
        2px 4px 6px var(--outer-shadow-darker)
      )
      drop-shadow(8px 16px 24px var(--outer-shadow-darker))
      drop-shadow(16px 32px 48px var(--outer-shadow-darker));

    --box-shadow-card: 0.2px 0.4px 0.8px -10px hsla(228, 31%, 10%, 6%),
      0.4px 0.8px 2px -10px hsla(228, 31%, 9%, 7%),
      0.8px 2px 4px -10px hsla(228, 31%, 8%, 8%),
      1.6px 3px 7px -10px hsla(228, 31%, 7%, 10%),
      2.4px 6px 13px -10px hsla(228, 31%, 6%, 12%),
      6px 12px 30px -10px hsla(228, 31%, 5%, 16%);
    --box-shadow-card-hover: 0.2px 0.4px 0.8px -10px hsla(228, 31%, 10%, 6%),
      0.4px 0.8px 2px -10px hsla(228, 31%, 10%, 7%),
      0.8px 2px 4px -10px hsla(228, 31%, 10%, 8%),
      1.6px 3px 7px -10px hsla(228, 31%, 10%, 10%),
      2.4px 6px 13px -10px hsla(228, 31%, 10%, 12%),
      4px 10px 25px -10px hsla(228, 31%, 10%, 16%),
      8px 15px 40px -10px hsla(228, 31%, 10%, 20%);
  }
}
/* Effects */
:root {
  --blur-some: blur(0.1rem);
  --blur: blur(0.4rem);
  --blur-more: blur(0.6rem);

  --transition-all: all 0.35s ease-in-out;

  /* Shapes */
  --radius-1: clamp(0.17rem, 0.1475rem + 0.1vw, 0.2rem);
  --radius-2: clamp(0.4rem, 0.425rem + 0.1667vw, 0.45rem);
  --radius-3: clamp(0.7rem, 0.6475rem + 0.2333vw, 0.77rem);
  --radius-4: clamp(1rem, 0.925rem + 0.3333vw, 1.1rem);

  --padding-article-inline: clamp(0.5rem, -1rem + 6.6667vw, 2.5rem);
  --padding-button-small: clamp(0.1rem, 0.025rem + 0.33vw, 0.2rem)
    clamp(0.2rem, 0.05rem + 0.6667vw, 0.4rem);
  --padding-button-medium: clamp(0.2rem, 0.05rem + 0.6667vw, 0.4rem)
    clamp(0.4rem, 0.1rem + 1.3333vw, 0.8rem);
  --padding-button-small-inline-negate: calc(
    -1 * clamp(0.2rem, 0.05rem + 0.6667vw, 0.4rem)
  );
  --padding-button-medium-inline-negate: calc(
    -1 * clamp(0.4rem, 0.1rem + 1.3333vw, 0.8rem)
  );
  --padding-link: 0 0.4rem;
  --margin-link: -0 -0.4rem;
  --margin-top-default: 0.6rem;
  --margin-default: 0.6rem auto 0;

  /* Typography */
  --font-size-1: clamp(0.7rem, 0.6rem + 0.33vw, 0.8rem);
  --font-size-2: clamp(0.8rem, 0.7rem + 0.33vw, 0.9rem);
  --font-size-3: clamp(0.9rem, 0.8rem + 0.33vw, 1rem);
  --font-size-4: clamp(1rem, 0.8rem + 0.33vw, 1.1rem);
  --font-size-5: clamp(1.1rem, 1rem + 0.33vw, 1.2rem);
  --font-size-6: clamp(1.2rem, 1rem + 1vw, 1.5rem);
  --font-size-7: clamp(1.4rem, 1.1rem + 1.33vw, 1.8rem);
  --font-size-8: clamp(1.6rem, 1.225rem + 1.667vw, 2.1rem);
  --font-size-9: clamp(1.8rem, 1.35rem + 2vw, 2.4rem);

  --letter-spacing-1: calc(
    clamp(-0.042rem, -0.0473rem - 0.0233vw, -0.035rem) * -1
  );
  --letter-spacing-2: calc(
    clamp(-0.036rem, -0.0405rem - 0.02vw, -0.03rem) * -1
  );
  --letter-spacing-3: calc(
    clamp(-0.003rem, -0.0338rem - 0.0167vw, -0.025rem) * -1
  );
  --letter-spacing-4: calc(
    clamp(-0.024rem, -0.027rem - 0.0133vw, -0.02rem) * -1
  );
  --letter-spacing-5: calc(
    clamp(-0.018rem, -0.0203rem - 0.01vw, -0.015rem) * -1
  );
  --letter-spacing-6: calc(
    clamp(-0.012rem, -0.0135rem - 0.0067vw, -0.001rem) * -1
  );
  --letter-spacing-7: calc(
    clamp(-0.006rem, -0.0068rem - 0.0033vw, -0.005rem) * -1
  );
  --letter-spacing-8: calc(clamp(-0.002rem, -0.0035rem - 0.0067vw, 0rem) * -1);
  --letter-spacing-9: calc(
    clamp(-0.006rem, -0.0068rem - 0.0033vw, -0.005rem) * -1
  );

  --margin-top-h1: 0rem;
  --margin-top-h2: clamp(2.2rem, 1.975rem + 1vw, 2.5rem);
  --margin-top-h3: clamp(2rem, 1.8125rem + 0.8333vw, 2.25rem);
  --margin-top-h4: clamp(1.8rem, 1.65rem + 0.6667vw, 2rem);
  --margin-top-h5: clamp(1.6rem, 1.4875rem + 0.5vw, 1.75rem);
  --margin-top-h6: 0rem; /* ? */
}

/* Font stacks */

/* Neue Montreal */

@font-face {
  font-family: "PP-Neue-Montreal";
  src: url("../fonts/PPNeueMontreal-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "PP-Neue-Montreal";
  src: url("../fonts/PPNeueMontreal-ThinItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "PP-Neue-Montreal";
  src: url("../fonts/PPNeueMontreal-Regular.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: "PP-Neue-Montreal";
  src: url("../fonts/PPNeueMontreal-Italic.woff2") format("woff2");
  font-weight: 450;
  font-style: italic;
}

/* Neue Montreal Mono */
@font-face {
  font-family: "PP-Neue-Montreal-Mono";
  src: url("../fonts/PPNeueMontrealMono-Book") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PP-Neue-Montreal-Mono";
  src: url("../fonts/PPNeueMontrealMonoRegular-Italic") format("woff2");
  font-weight: 450;
  font-style: italic;
}
@font-face {
  font-family: "PP-Neue-Montreal-Mono";
  src: url("../fonts/PPNeueMontrealMono-Medium") format("woff2");
  font-weight: 530;
  font-style: normal;
}

/* Writer */
@font-face {
  font-family: "PP-Writer";
  src: url("../fonts/PPWriter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "PP-Writer";
  src: url("../fonts/PPWriter-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "PP-Writer";
  src: url("../fonts/PPWriter-Book.woff2") format("woff2");
  font-weight: 340;
  font-style: normal;
}
@font-face {
  font-family: "PP-Writer";
  src: url("../fonts/PPWriter-BookItalic.woff2") format("woff2");
  font-weight: 340;
  font-style: italic;
}
@font-face {
  font-family: "PP-Writer";
  src: url("../fonts/PPWriter-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PP-Writer";
  src: url("../fonts/PPWriter-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

:root {
  --font_old_style: "Iowan Old Style", "Palatino Linotype", "URW Palladio L",
    P052, serif;
  --font_neo_grotesque: Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
}
/******/
/* Layers */
/******/
@layer reset, base, layout, styling, components;

/******/
/* Reset and defaults */
/******/

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    text-decoration-line: none;
  }

  div.page-content * {
    margin: var(--margin-default);
  }

  html {
    hanging-punctuation: first last;
    scroll-margin-top: 3rem;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color-scheme: light dark;
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      --transition-all: none;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      scroll-behavior: smooth;
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
    font-weight: inherit;
  }
  h1 b,
  h1 strong,
  h2 b,
  h2 strong,
  h3 b,
  h3 strong,
  h4 b,
  h4 strong,
  h5 b,
  h5 strong,
  h6 b,
  h6 strong {
    font-weight: 450;
  }

  p {
    overflow-wrap: break-word;
    text-wrap: pretty;
  }

  strong,
  b {
    font-weight: 600;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  img {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    shape-margin: 1rem;

    font-style: italic;
  }
}

/******/
/* Backgrounds and basics */
/******/
@layer base {
  body {
    max-width: clamp(40rem, 30rem + 25vw, 50rem);
    padding: 0 clamp(0.5rem, -1.375rem + 8.3333vw, 3rem);
    margin: 2rem auto;
    background-color: var(--border);

    font-family: "PP-Neue-Montreal", --font_neo_grotesque;
    font-weight: 200;
    font-size: var(--font-size-4);
    letter-spacing: var(--letter-spacing-4);
    color: var(--h4);
  }

  div.page-content {
    position: relative;
  }

  div.page-content::after {
    content: "";

    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 1;

    height: 100%;
    height: calc(100% - 2rem);
    width: 100%;
    background: transparent;
    border-radius: var(--radius-3);

    box-shadow: var(--box-shadow-card);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
  }

  div.page-content:has(.post-nav)::after {
    height: calc(100% - 6rem);
  }

  p {
    font-family: "PP-Writer", var(--font_old_style);
    font-weight: 340;
    color: var(--text);
  }

  div.post-preview,
  div.post.h-entry,
  li.micro-post,
  li.h-entry,
  div.custom-page-content {
    position: relative;
    z-index: 20;

    padding: 0.5rem var(--padding-article-inline);
    margin-bottom: 2rem;
    background: var(--background);
    border-radius: var(--radius-4);

    box-shadow: var(--box-shadow-card);
  }

  div.post.h-entry,
  li.micro-post:first-of-type {
    margin-top: 1rem;
  }
}

/******/
/* Typography */
/******/

@layer styling {
  /* Paragraphs */

  /* Drop cap */
  .post-content > p:not(:has(.language)):first-of-type::first-letter,
  .post-content > p:has(.language) + p::first-letter {
    font-size: 3em;
    float: left;
    line-height: 0.5;
    margin-right: clamp(0.05em, -0.0125em + 0.5vw, 0.1em);
    margin-top: 13px;
  }
  @supports (-moz-appearance: none) {
    .post-content > p:not(:has(.language)):first-of-type::first-letter,
    .post-content > p:has(.language) + p::first-letter {
      margin-top: 8px;
    }
  }

  /* Links */

  a {
    position: relative;

    color: var(--text);
    text-decoration: none;

    -webkit-transition: var(--transition-all);
    transition: var(--transition-all);
  }

  a:hover {
    color: var(--h1);
  }

  /* Text links */

  @keyframes hasHovered {
    0% {
      visiblity: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  @keyframes linkBlurIn {
    0% {
      text-shadow: var(--text-shadow-p);
      filter: none;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
    }
    10% {
      text-shadow: none;
    }
    50% {
      filter: none;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
    }
    100% {
      text-shadow: none;
      filter: var(--drop-shadow-link);
      -webkit-backdrop-filter: var(--blur-some);
      backdrop-filter: var(--blur-some);
    }
  }
  @keyframes linkBlurOut {
    0% {
      text-shadow: none;
      filter: var(--drop-shadow-link);
      -webkit-backdrop-filter: var(--blur-some);
      backdrop-filter: var(--blur-some);
    }
    20% {
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
    }
    50% {
      filter: var(--drop-shadow-link);
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
    }
    80% {
      text-shadow: none;
    }
    100% {
      text-shadow: var(--text-shadow-p);
      filter: none;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
    }
  }

  div.post-preview a,
  div.post.h-entry a,
  li.micro-post a,
  li.h-entry a,
  #micro-header-container a,
  div.custom-page-content a,
  a.u-url.mention {
    white-space: nowrap;

    padding: var(--padding-link);
    margin: var(--margin-link);
    background: transparent;
    border-radius: var(--radius-2);

    animation-play-state: paused;
    animation: linkBlurOut 0.4s forwards;
  }

  div.post-preview a:hover,
  div.post.h-entry a:hover,
  li.micro-post a:hover,
  li.h-entry a:hover,
  #micro-header-container a:hover,
  div.custom-page-content a:hover,
  a.u-url.mention:hover,
  .footnote-button:hover:after,
  .footnote-button.is-active:after {
    animation-play-state: running;
    animation: linkBlurIn 0.5s forwards;
  }

  div.post-preview h1 a,
  div.post-preview h1 a:hover,
  div.post-preview h1 a::after,
  div.post-preview h1 a:hover::after {
    white-space: unset;
    color: var(--h1);
    animation: unset;
    box-shadow: unset;
  }
  div.post-preview h1 a:hover {
    color: var(--text);
  }

  @keyframes underlineIn {
    0% {
      bottom: 0.1em;
    }
    20% {
      bottom: -0.1em;
    }
    100% {
      bottom: 0;
    }
  }

  @keyframes underlineOut {
    0% {
      bottom: 0;
    }
    80% {
      bottom: -0.1em;
    }
    100% {
      bottom: 0.1em;
    }
  }
  div.post-preview a::after,
  div.post.h-entry a::after,
  li.micro-post a::after,
  li.h-entry a::after,
  #micro-header-container a::after,
  div.custom-page-content a::after,
  a.u-url.mention::after,
  a.post-date::after {
    content: "";
    position: absolute;
    bottom: 0.1em;
    right: 0.4em;
    z-index: -1;

    height: 100%;
    width: calc(100% - 0.8em);

    box-shadow: var(--box-shadow-link-line);
    transition: var(--transition-all);
    animation-play-state: paused;
    anmation: underlineOut 0.45s forwards;
  }
  div.post-preview a:hover::after,
  div.post.h-entry a:hover::after,
  li.micro-post a:hover::after,
  li.h-entry a:hover::after,
  #micro-header-container a:hover::after,
  div.custom-page-content a:hover::after,
  a.u-url.mention:hover::after,
  a.post-date:hover::after {
    right: 0;
    bottom: 0;
    width: 100%;

    border-radius: var(--radius-2);

    box-shadow: var(--box-shadow-link-background);
    animation-play-state: running;
    anmation: underlineIn 0.45s forwards;
  }

  div.post-preview a.glightbox:link,
  li.h-entry a.glightbox:link,
  li.micro-post a.glightbox:link,
  div.post.h-entry a.glightbox:link {
    box-shadow: unset;
    filter: unset;
  }

  /******/
  /* Headings */
  /******/

  /* Page headings */

  h1.category-header,
  h1.page-title,
  h2,
  #micro-header-container {
    position: relative;
    z-index: 30;
    right: clamp(0.5rem, -0.625rem + 5vw, 2rem);

    width: calc(100% + clamp(1rem, -1.25rem + 10vw, 4rem));
    padding: 0.7rem 2rem 0.7rem clamp(1rem, -1.625rem + 11.667vw, 4.5rem);
    border-radius: var(--radius-4);
    background: var(--background-20);

    box-shadow: var(--box-shadow-card);
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
  }

  ul.post-list div.post-preview:first-of-type,
  ul.post-list li.h-entry:first-of-type,
  ul.post-list li.micro-post:first-of-type,
  div.custom-page-content {
    transform: translateY(-4.5rem);

    padding-top: 5rem;
  }

  header.post-header {
    margin-top: -0.5rem;
  }
  h1,
  h6 {
    position: relative;

    font-family: "PP-Writer", var(--font_old_style);
    font-weight: 100;
  }
  h1 {
    padding-bottom: 1rem;
    margin-top: -0.2rem;

    font-size: var(--font-size-9);
    letter-spacing: var(--letter-spacing-9);
    color: var(--h1);
  }
  h1::after {
    content: "";
    position: absolute;
    right: 3%;
    bottom: 0.5rem;
    height: 3px;
    width: 94%;
    background-color: var(--link-background);
  }

  .post-preview h1::after {
    width: 97%;
  }

  h6 {
    padding-bottom: 1rem;
    margin-top: -1.5rem;
    background: var(--background);

    font-size: var(--font-size-6);
    letter-spacing: var(--letter-spacing-6);
    color: var(--h4);
  }

  h6::after {
    content: "";
    position: absolute;
    right: 3%;
    bottom: 0.45rem;

    height: 3px;
    width: 96%;
    background-color: var(--link-background);
  }
  .post-preview h6::after {
    width: 97%;
  }

  article.post-content.e-content h6 {
    text-align: center;
  }

  h2 {
    position: unset;

    width: unset;
    padding: unset;
    margin-top: var(--margin-top-h2);
    border-radius: unset;
    background: unset;

    font-size: var(--font-size-8);
    letter-spacing: var(--letter-spacing-8);
    font-weight: 200;
    color: var(--h2);

    box-shadow: unset;
  }
  h3 {
    margin-top: var(--margin-top-h3);

    font-size: var(--font-size-7);
    letter-spacing: var(--letter-spacing-7);
    font-weight: 200;
    color: var(--h3);
  }
  h4 {
    margin-top: var(--margin-top-h4);

    font-size: var(--font-size-6);
    letter-spacing: var(--letter-spacing-6);
    font-weight: 200;
    color: var(--h4);
  }
  h5 {
    margin-top: var(--margin-top-h5);

    font-size: var(--font-size-5);
    letter-spacing: var(--letter-spacing-5);
    font-weight: 200;
    color: var(--h4);
  }

  /* Lists */

  ul,
  ol {
    padding-left: 1.5rem;

    font-family: "PP-Writer", var(--font_old_style), serif;
    font-weight: 340;
    color: var(--text);
  }

  li::marker {
    font-weight: 700;
    color: var(--mid-blue);
  }

  li {
    margin: 0.4rem 0;
  }

  /* Rule */

  hr {
    display: flex;
    justify-content: center;

    margin: 2rem 0;
    border: unset;
  }

  hr::before {
    display: block;
    content: "";

    height: 2px;
    width: 20%;
    background-color: var(--mid-blue);
  }

  /* Footnotes */

  /* Quotes */

  blockquote {
    padding: 1rem;
    margin: 1rem 1rem 1rem 0.5rem;
    background: var(--border-lite);
    border-radius: var(--radius-2);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    font-size: var(--font-size-4);
    letter-spacing: var(--letter-spacing-4);
    box-shadow: var(--box-shadow-card);
    border-left: 3px solid var(--link-line);
  }

  blockquote p {
    font-size: var(--font-size-3);
    letter-spacing: var(--letter-spacing-3);
  }

  blockquote p:last-of-type {
    margin-bottom: 0;
  }

  blockquote p:first-of-type {
    margin-top: 0;
  }

  @keyframes blockLinkBlurIn {
    0% {
      text-shadow: var(--text-shadow-bq);
      filter: none;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
    }
    20% {
      text-shadow: none;
    }
    50% {
      text-shadow: none;
      filter: none;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
    }
    100% {
      text-shadow: none;
      filter: var(--drop-shadow-link);
      -webkit-backdrop-filter: var(--blur-some);
      backdrop-filter: var(--blur-some);
    }
  }
  @keyframes blockLinkBlurOut {
    0% {
      text-shadow: none;
      filter: var(--drop-shadow-link);
      -webkit-backdrop-filter: var(--blur-some);
      backdrop-filter: var(--blur-some);
    }
    50% {
      text-shadow: none;
      filter: var(--drop-shadow-link);
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
    }
    80% {
      text-shadow: none;
    }
    100% {
      text-shadow: var(--text-shadow-bq);
      filter: none;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
    }
  }
}

@layer components {
  blockquote a {
    animation-play-state: paused;
    animation: blockLinkBlurOut 0.4s forwards;
  }
  blockquote a:hover {
    animation-play-state: running;
    animation: blockLinkBlurIn 0.5s forwards;
  }
}
@layer styling {
  /* Code */

  pre {
    overflow: auto;

    padding: 1rem;
    background: var(--border);
    border-radius: var(--radius-2);

    box-shadow: var(--box-shadow-inner);
  }

  code {
    font-family: "PP-Neue-Montreal-Mono", monospace;
    font-weight: 400;
    font-size: var(--font-size-2);
    letter-spacing: var(--letter-spacing-2);
    color: var(--text);
  }

  pre code {
    font-size: var(--font-size-1);
    letter-spacing: var(--letter-spacing-1);
  }

  p > code,
  li > code,
  span.tinylytics_hits,
  span.tinylytics_uptime {
    background: var(--border);
    box-shadow: var(--drop-shadow-inner);
  }
}

@layer components {
  /******/
  /* Elements */
  /******/

  /* Date, categories, languages */

  a.post-date,
  ul.post-tags li a {
    z-index: 10;

    font-family: "PP-Neue-Montreal", --font_neo_grotesque, sans-serif;
    font-size: var(--font-size-2);
    letter-spacing: var(--letter-spacing-2);
    color: var(--mid-blue);

    filter: none;
    animation: unset;
  }
  a[href="https://havn.blog/categories/english"],
  a[href="https://havn.blog/categories/norsk"]
  {
    display: none;
  }
  ul.post-tags li {
    display: inline-block;
    margin: 0.5rem clamp(0.5rem, 0.125rem + 1.667vw, 1rem) 0.5rem 0;
  }

  ul.post-tags,
  ul.post-list {
    padding-left: 0;
    margin-bottom: 1rem;
    list-style-type: none;
  }

  ul.post-list {
    list-style-type: none;
  }

  a.post-date:hover,
  ul.post-tags li a:hover {
    padding: var(--padding-button-small);
    margin: 0 var(--padding-button-small-inline-negate);
    color: var(--h4);
    @media (prefers-color-scheme: dark) {
      color: var(--h1);
    }
  }
  a.post-date::after,
  ul.post-tags li a::after {
    box-shadow: none;
    filter: none;
    transition: var(--transition-all);
  }
  a.post-date:hover::after,
  ul.post-tags li a:hover::after {
    box-shadow: var(--box-shadow-border-background);
    filter: var(--drop-shadow-icon);
    @media (prefers-color-scheme: dark) {
      filter: var(--drop-shadow-icon-hover);
    }
  }

  /* Buttons */

  div.post:has(a.language) h1,
  div.post-preview:has(a.language) h1 {
    margin-top: 2.5rem;
  }
  div.post:has(a.language) h6::after,
  div.post-preview:has(a.language) h6::after {
    bottom: -1.5rem;
  }

  div.post-nav {
    position: relative;
    z-index: 120;

    margin-top: 3.5rem;
  }

  /* All buttons */
  a.language,
  input[type="submit"],
  .post-nav span.next,
  .post-nav span.prev,
  a.read-more,
  ul.reply-buttons a {
    width: fit-content;
    padding: var(--padding-button-medium);
    margin: 0 0.5rem 0 0;

    background-color: var(--border);
    border-radius: var(--radius-2);

    font-family: "PP-Neue-Montreal", --font_neo_grotesque, sans-serif;
    font-size: var(--font-size-3);
    font-weight: 200;

    filter: var(--drop-shadow-icon);
    transition: var(--transition-all);
  }

  ul.reply-buttons {
    padding-bottom: 1rem;
    margin-top: -1rem;
  }

  /* Small buttons */
  a.language,
  input[type="submit"] {
    padding: var(--padding-button-small);

    border-radius: var(--radius-1);

    font-size: var(--font-size-2);

    filter: none;
    animation: unset;
  }

  a.language {
    position: absolute;
    top: 2.15rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .post-preview a.language {
    left: unset;
    transform: translateX(var(--padding-button-small-inline-negate));
  }
  a.language:hover,
  input[type="submit"]:hover {
    color: var(--h4);
    filter: var(--drop-shadow-icon);
    @media (prefers-color-scheme: dark) {
      color: var(--h1);
      filter: var(--drop-shadow-icon-hover);
    }
  }

  a.language::after {
    display: none;
  }

  /* Medium buttons */
  .post-nav span.next,
  .post-nav span.prev {
    position: absolute;
    bottom: 0.5rem;
    right: var(--radius-4);

    margin: 0;
    background: var(--background-70);

    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
  }

  .post-nav span.prev {
    left: var(--radius-4);
  }
  ul.reply-buttons a {
    margin: 0;
    background: var(--background-70);

    backdrop-filter: var(--blur-some);
    -webkit-backdrop-filter: var(--blur-some);
  }

  .post-nav span.next:hover,
  .post-nav span.prev:hover,
  ul.reply-buttons a:hover {
    background: var(--background);
    filter: var(--drop-shadow-icon-hover);
  }
  a.read-more {
    animation: unset;
  }
  a.read-more::after {
    content: none;
  }
  a.read-more:hover {
    filter: var(--drop-shadow-icon-hover);
  }
}
@layer layout {
  /* Header */
  header {
    text-align: center;
  }
}

@layer components {
  /* Header and footer */

  #logo {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 3rem;
    width: 9rem;
    margin: clamp(-1rem, -1.75rem + 3.33vw, 0rem) 0
      calc(-1 * var(--margin-top-default));

    background-image: url("/assets/havn-logo-transp.png");

    @media (prefers-color-scheme: dark) {
      background-image: url("/assets/havn-logo-dm-transp.png");
    }
  }

  #logo:hover {
    background-image: url("/assets/havn-logo.png");

    @media (prefers-color-scheme: dark) {
      background-image: url("/assets/havn-logo-dm.png");
    }
  }

  #follow-list-container,
  #footer-list-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  #follow-list,
  #footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.8s ease-in-out;
  }

  #follow-list ul,
  #footer-list ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    max-width: 20rem;
    margin: var(--margin-default);
  }

  #follow-list li,
  #footer-list li {
    padding: 0 0.5rem;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }

  #follow-list li:hover,
  #footer-list li:hover {
    opacity: 1;
    transform: scale(1.05);
  }
  #coffee-button:hover {
    opacity: 1;
    transform: scale(1.03);
    filter: var(--drop-shadow-icon-hover);
  }

  #havn-icon,
  #rss-icon,
  #micro-icon,
  #masto-icon,
  #email-icon,
  #norsk-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-size: contain;
  }
  #havn-icon {
    background-image: url("/assets/havn-icon-neutral.png");
  }
  #rss-icon {
    background-image: url("/assets/havn-rss.png");
  }
  #masto-icon {
    background-image: url("/assets/havn-masto.png");
  }
  #micro-icon {
    background-image: url("/assets/havn-microblog.png");
  }
  #email-icon {
    background-image: url("/assets/havn-mail.png");
  }
  #norsk-icon {
    background-image: url("/assets/havn-no.png");
  }

  .asset-alt {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  footer {
    height: clamp(9rem, 8.25rem + 3.33vw, 10rem);
  }

  footer div.wrapper {
    position: fixed;
    bottom: clamp(2rem, 1.25rem + 3.33vw, 3rem);
    left: 50%;
    transform: translateX(-50%);
  }

  /* Dette er "Contact and/or follow". */
  #footer-list p {
    font-family: "PP-Neue-Montreal", --font_neo_grotesque, sans-serif;
    color: var(--mid-blue);
  }

  /* Ko-Fi */

  #coffee-button {
    display: inline-block;

    height: 2rem;
    width: 100%;

    margin: var(--margin-default);
    background-image: url(/assets/buy-me-a-coffee.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    filter: var(--drop-shadow-icon);
  }

  /* Back to top button */
  #back-to-top {
    display: none;
    position: fixed;
    z-index: 40;
    height: 3rem;
    right: 1rem;
    bottom: 2rem;

    width: 3rem;
    background: transparent;
    border-radius: var(--radius-2);

    box-shadow: none;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
  }
  #back-to-top:hover {
    transform: scale(1.1);
    box-shadow: var(--box-shadow-card);
    backdrop-filter: var(--blur-more);
    -webkit-backdrop-filter: var(--blur-more);
  }
  #back-to-top.show-button {
    display: block;
  }
  #back-to-top img {
    display: block;
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  #up-arrow {
    content: url(/assets/short-arrow.png);
  }

  /* Navigation */
  nav {
    position: sticky;
    top: 0.3rem;
    z-index: 120;
    margin: 0;

    background: var(--border-90);
    border-radius: var(--radius-4);

    filter: var(--drop-shadow-image);
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
  }
  nav ul,
  ul.reply-buttons {
    position: relative;
    z-index: 30;

    font-family: "PP-Neue-Montreal", --font_neo_grotesque, sans-serif;
    font-weight: 450;
    color: var(--text);
    text-align: center;
  }

  nav ul {
    padding: 0;
  }

  nav ul li,
  ul.reply-buttons li {
    display: inline-block;

    margin-right: 0.2rem;
    background: transparent;

    white-space: nowrap;
  }

  nav a {
    padding: var(--padding-button-medium);
    background: transparent;
    border-radius: var(--radius-2);
  }
  nav a:hover {
    background: var(--border);

    filter: var(--drop-shadow-icon);
  }

  @media (max-width: 420px) {
    nav a {
      margin: 0 var(--padding-button-small-inline-negate);
    }
  }

  /* Scroll indicator */

  #scrollIndicator {
    position: sticky;
    top: 0;
    z-index: 110;

    height: calc(var(--scroll-ratio) * 70rem);
    max-height: 1.3rem;
    width: calc(
      (var(--scroll-ratio) * 100%) +
        (var(--scroll-ratio) * var(--padding-article-inline))
    );
    margin-left: calc(-1 * var(--padding-article-inline));
    background: var(--link-line);
  }
  #navPadding {
    position: sticky;
    top: 0;
    z-index: 100;

    height: 0.5rem;
    width: calc(100% + 2 * var(--padding-article-inline));
    margin: 0 calc(-1 * var(--padding-article-inline));
    background: transparent;

    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
  }
}
