{{ define "main" }}
<div class="custom-page-content">
  <div id="navPadding"></div>
  <h1 class="page-header">About Havn</h1>
  <p>
    My name is Erlend (You can pronounce it like the name 'Allen', but with a
    long A-sound - like if it only had one L.), and I live in Oslo, Norway with
    my wife, Kristine, and our dog, Vincent.
  </p>
  <div style="text-align: center;">
     <img src="https://havn.blog/uploads/2024/erlend-og-vincent.png" width="400"
          height="400" alt="Me, in a blue Hawaii shirt, hugging my dog, Vincent. He's a large, tan eurasier."
          style="display: inline-block;">
   </div>
  <h2>I started this blog because I needed shelter ...</h2>
  <p>
    ... from the storms in my head. And that's why I named it
    <strong>Havn</strong> (which means <em>harbour</em> in Norwegian).
  </p>
  <p>
    Here I'll try to collect my thoughts, that tend to jolt in every direction
    in search of connections and meaning.
  </p>
  <h2>Sometimes, I make pedal boards,</h2>
  <p>
    and I like to make them <em>nice</em>. That's why I've started a small
    business named "Erlend Mekker Nice", which means "Erlend makes it nice" (it
    a bit broken Norwegian).
  </p>
  <p>I make stuff like this:</p>
  <img
    id="pedalboards"
    src="https://havn.blog/uploads/2024/pedalbrett.jpg"
    width="600"
    height="337"
    alt="A picture of four different pedal boards for guitar players. I think they're nice, with colour codes and cable management."
  />
  <p>
    So if you know anyone with a duct tape and velcro infested pedal chaos on
    their hands (or feet) - let me know, and I can help! (Especially if it's in
    Norway.)
  </p>
  <h2>I also play in a band!</h2>
  <div class="gallery-container">
  <div class="img-gallery">
    {{<glightbox src="https://havn.blog/uploads/2024/klondike.jpg" gallery="about-1" alt="Picture of my band playing a concert at a club. It looks like the crowd is having a good time!">}}
    {{<glightbox src="https://havn.blog/uploads/2024/bass.jpg" gallery="about-1" alt="Picture of me playing my bass." >}}
    {{<glightbox src="https://havn.blog/uploads/2024/hufsa.jpg" gallery="about-1" alt="Closeup of the bass. It's a dark Fender P-bass from 1961." >}}
  </div>
  </div>
  <p>It's called <a href="https://www.klondikeband.com/">Klondike</a>, and I've also spent some time making our rehearsal room/studio <em>nice</em>!
  </p>
  <div class="gallery-container">
  <div class="img-gallery">
    {{<glightbox src="https://havn.blog/uploads/2024/img-6770.jpeg" gallery="about-1" alt="Our studio setup, with a Mac Mini, Apogee Duet 3, two LG UltraFine 24-inch screens, MIDI keyboard, studio monitors and more.">}}
    {{<glightbox src="https://havn.blog/uploads/2024/img-6440.jpeg" gallery="about-1" alt="Closeup of some colour coded xlrs into our mixer." >}}
  </div>
  </div>
  <h2>Other than that,</h2>
  <p>
    I'm a teacher, who's worked mostly with teenagers and with the subjects maths, music and social science/history. I've also worked with creating math curiculum, and I'm currently working on my master's degree in didactic mathematics.
  </p>
  <p>
Thanks for visiting!
  </p>
 <div style="text-align: center;">
   <img src="https://havn.micro.blog/uploads/2024/6d782495fd.jpeg" width="400"
        height="400" alt="Picture of me in front of a river. I have a white T-shirt
        and dark blue baseball caps. I have glasses, a bit of beard and is a white
        man in my 30's."
        style="display: inline-block;">
 </div>

</div>
{{ end }}
