{{ define "main" }}
<div id="navPadding"></div>
<h1 class="page-title">Categories and subjects</h1>
<div class="custom-page-content">
  <p>
    Most of my posts, regardless of their subject matter, falls into one of
    these <strong>categories</strong>:
  </p>
  <h3>
    <a href="https://havn.blog/categories/erlends-overdelivery-service"
      >Erlend's Overdelivery Service</a
    >
  </h3>
  <p>
    If someone asks me a question or wants advice, I have a bad tendency to
    suddenly make that mission take up my entire day. I'll come back to them
    later, with a report that's much longer than what they asked for or needed.
    (I don't think my ADHD helps in this regard...)
  </p>
  <p>
    I also slip into this when giving feedback on products/apps/service (promted
    or not).
  </p>
  <p>
    Now, I'm *not* saying this a positive trait! But I thought perhaps I could
    use it to produce som niche guides that could be of minior interest to some
    of those who stumble upon them. I can't really help it, so I try to make the
    best of it!
  </p>
  <div class="language-container">
    <a
      href="https://havn.blog//categories/erlends-overleveringstjeneste"
      class="language"
      >Link to the Norwegian equivalent</a
    >
  </div>
</div>
{{ end }}
