{{ define "main" }}
<div id="navPadding"></div>
<h1 class="page-title">Categories and subjects</h1>
<div class="custom-page-content">
  <p>
    Most of my posts, regardless of their subject matter, falls into one (or
    more) of these <strong>categories</strong>:
  </p>
  <h3>
    <a href="https://havn.blog/categories/erlends-overdelivery-service"
      >Erlend's Overdelivery Service</a
    >
  </h3>
  <div class="language-container">
    <a
      href="https://havn.blog//categories/erlends-overleveringstjeneste"
      class="language"
      >Link to the Norwegian equivalent</a
    >
  </div>
  <p>
    If someone asks me a question or wants advice, I have a bad tendency to
    suddenly make that mission take up my entire day. I'll come back to them
    later, with a report that's much longer than what they asked for or needed.
    (I don't think my ADHD helps in this regard...)
  </p>
  <p>
    I also slip into this when giving feedback on products/apps/service (promted
    or not).
  </p>
  <p>
    Now, I'm *not* saying this a positive trait! But I thought perhaps I could
    use it to produce som niche guides that could be of minior interest to some
    of those who stumble upon them. I can't really help it, so I try to make the
    best of it!
  </p>
  <h3>
    <a href="https://havn.blog/categories/good-stuff">Good Stuff</a>
  </h3>
  <div class="language-container">
    <a href="https://havn.blog//categories/bra-saker" class="language"
      >Link to the Norwegian equivalent</a
    >
  </div>
  <p>
    I just love good stuff. And when I have something I like, it sparks joy
    <em>every</em> time. So these posts are soft of reviews, or just
    recommendations. But I'll probably mostly stick to sharing things I think
    are <em>good</em>. I prefer gushing to ranting! But I'll still try to point
    out the flaws, which will probably often include the price...
  </p>
  <h3>
    <a href="https://havn.blog/categories/guides">Guides</a>
  </h3>
  <div class="language-container">
    <a href="https://havn.blog//categories/guider" class="language"
      >Link to the Norwegian equivalent</a
    >
  </div>
  <p>
    I'm a teacher - both by trade and general inclination. And to my wife's
    chagrin, I just can't help myself. So, to vent some of my pent-up
    explaining, I enjoy writing guides for things I care about!
  </p>
  <h3>
    <a href="https://havn.blog/categories/musings">Musings</a>
  </h3>
  <div class="language-container">
    <a href="https://havn.blog//categories/grublerier" class="language"
      >Link to the Norwegian equivalent</a
    >
  </div>
  <p>
    Without really intending to, I have a pattern when I try to make sense of
    the world around me. I create models, categorise, and try to make
    connections. Sometimes, this turns into posts, which might be different
    concepts I'm thinking about, reflections, or just opinions.
  </p>
  <h2>Subjects and themes</h2>
  <p>Here are links to different subjects or themes my posts might touch on:</p>
  <ul>
    <li>
      (Mostly Board)
      <a href="https://havn.blog/categories/games"><strong>Games</strong></a>
      - (<a href="https://havn.blog/categories/spill">Norwegian</a>)
    </li>
    <li>
      <a href="https://havn.blog/categories/design-thoughts"
        ><strong>Design thoughts</strong></a
      >
      - (<a href="https://havn.blog/categories/designtanker">Norwegian</a>)
    </li>
    <li>
      <a href="https://havn.blog/categories/make-it-nice"
        ><strong>Make It <em>Nice</em></strong></a
      >
      - (<a href="https://havn.blog/categories/erlend-mekker-nice">Norwegian</a
      >)
    </li>
    <li>
      <a href="https://havn.blog/categories/board-games"
        ><strong>Music</strong></a
      >
    </li>
    <li>
      <a href="https://havn.blog/categories/politics-and-education"
        ><strong>Politics and Education</strong></a
      >
      - (<a href="https://havn.blog/categories/politikk-og-utdanning"
        >Norwegian</a
      >)
    </li>
    <li>
      <a href="https://havn.blog/categories/slow-fashion"
        ><strong>Slow Fashion</strong></a
      >
      - (<a href="https://havn.blog/categories/langsom-mote">Norwegian</a>)
    </li>
    <li>
      <a href="https://havn.blog/categories/technology"
        ><strong>Technology</strong></a
      >
      - (<a href="https://havn.blog/categories/teknologi">Norwegian</a>)
    </li>
    <li>
      (My dog)
      <a href="https://havn.blog/categories/vincent"
        ><strong>Vincent</strong></a
      >
    </li>
  </ul>
</div>
{{ end }}
