{{ define "main" }}
<div id="navPadding"></div>
<h1 class="page-title">Contact</h1>
<div class="custom-page-content">
	<p>Do you want to get in touch? How nice!</p>

	<h2>You have several options:</h2>
	<p>You can send an <strong>email</strong>, to <a href="mailto:post@havn.online">post at havn dot online</a>.</p>
	<h3>I’m also on a bunch of chat services:</h3>
	<p>
		If you’ve got an iPhone, or other Apple products, you can use the email from above to start an
		<strong>iMessage</strong> conversation.
	</p>
	<p>
		But the app I use the most (<a href="https://telegram.org"><em>and prefer</em></a>) is <a href="https://telegram.org"><strong>Telegram</strong></a> - and you can start a conversation there by
		<a href="https://t.me/erlendms">clicking this link</a>, or by scanning this QR code: 👇🏻
	</p>
	<img src="https://havn.blog/uploads/2024/174397f5b9.jpeg" class="medium" alt="Telegram QR code" />
	<p>
		If you want to use 
		<a href="https://signal.org/"><strong>Signal</strong></a
		>, you can
		<a href="https://signal.me/#eu/uj7OAFJT-V1YYCfR5-tvvSvOCDyugV5Ew2rxJiLpL1K7onV2tUZD74VVchrjQB1i">click here instead</a>,
		or scan <em>this</em> QR code: 👇🏻
	</p>
	<img src="https://havn.blog/uploads/2024/20a273999e.jpeg" class="medium" alt="Signal QR code" />
	<p>
		If you’re on a <a href="https://matrix.org/"><strong>Matrix</strong></a
		 service, like <a href="https://element.io/app-for-productivity">Element</a>, you can use this address:
		@erlendm:matrix.org.
	</p>
	<p><strong>Looking forward to hear from you!</strong> 👋🏻</p>
	<p>
		<em>-Erlend</em>
	</p>
</div>
{{ end }}
