{{ define "main" }}
<div id="navPadding"></div>
<h1 class="page-title">Email: Contact and newsletter</h1>
<div class="custom-page-content">
  <p>
    <a href="mailto:post@havn.online">Click here</a> if you want to send me an
    email!
  </p>
  <p>
    You can also subscribe to the email newsletter for this blog. If I've
    written any longs posts that week, you'll get an email with them on Sundays.
  </p>
  <p>You'll also find links to the Norwegian versions of the posts.</p>

  <form method="POST" action="https://micro.blog/users/subscribe/92331">
    <input
      type="text"
      name="email"
      size="30"
      placeholder="Your email address"
    />
    <input type="submit" value="Subscribe" />
  </form>
</div>
{{ end }}
