{{ define "main" }}
<div class="home h-feed">
  <div id="navPadding"></div>
  <div id="micro-header-container">
    <h1 class="micro-posts">Micro posts</h1>
    <p><a href="https://havn.blog/replies">Click here</a> to see my replies to other people.</p>
  </div>
  <ul class="post-list">
    {{ range where .Site.Pages.ByDate.Reverse "Type" "post" }}
      {{ if not .Title }}
        <li class="micro-post">
          <a href="{{ .Permalink }}" class="post-date u-url">
            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
              {{ .Date.Format "Jan 2, 2006" }}
            </time> ∞
          </a>
          <p>{{ .Content }}</p>
          <ul class="post-tags">
              {{ range .Params.categories }}
                  {{ $href := print (absURL "categories/") (urlize .) }}
                  <li><a href="{{ $href }}">{{ . }}</a></li>
              {{ end }}
          </ul>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
{{ end }}
