{{ define "main" }}
<div id="navPadding"></div>
<h1 class="page-title">Pocket Garden</h1>
<div class="custom-page-content">
  <p>
    Here I'll add semi-permanent posts, inspired by
    <a href="https://maggieappleton.com/garden">digital gardens like this</a>.
    They are marked with the seedling emoji 🌱 - also to indicate that they're
    living posts, that might change over time.
  </p>
  <h2>Planted:</h2>
  <h3>Blog, setups and load-outs.</h3>
  <ul>
    <li>
      <a href="https://havn.blog/2024/02/20/the-ethics-and.html"
        >The ethics and principles</a
      >
      behind my blog
    </li>
    <li>
      <a href="https://havn.blog/2024/02/20/my-tech-setup.html"
        >My tech setup</a
      >
    </li>
    <li>
      <a href="https://havn.blog/2024/09/12/my-app-defaults.html"
        >My app defaults</a
      >
    </li>
    <li>
      <a href="https://havn.blog/2024/02/22/how-i-manage.html"
        >How I Manage Windows</a
      >
    </li>
    <li>
      <a href="https://havn.blog/2024/06/30/my-watch-collection.html"
        >My Watch Collection</a
      >
      (Of Only Sub $100 Watches)
    </li>
  </ul>

  <h3>Guides and advice</h3>
  <ul>
    <li>
      <a href="https://havn.blog/2022/05/14/why-k-k.html">Why 4k ≠ 5k</a>
    </li>
    <li>
      <a href="https://havn.blog/2024/03/03/a-good-way.html">A Good Way</a> To
      Get Home Row Mods on a Mac
    </li>
    <li>
      <a href="https://havn.blog/2024/06/01/some-scripts-for.html"
        >Some Scripts</a
      >
      for Native Tagging of Markdown Files
    </li>
    <li>
      <a href="https://havn.blog/2024/05/02/why-smart-bulbs.html"
        >Why Smart Bulbs > Smart Switches</a
      >
    </li>
    <li>
      <a href="https://havn.blog/2024/04/26/some-quick-mastodon.html"
        >Some Quick Mastodon Client Reviews</a
      >
    </li>
    <li>
      <a href="https://havn.blog/2024/04/10/a-shortcut-for.html"
        >A Shortcut for lite-youtube-embed</a
      >
    </li>
    <li>
      <a href="https://havn.blog/2024/02/18/wallpapers-for-homeapp.html"
        >Wallpapers for Home.app</a
      >
    </li>
    <li>
      <a href="https://havn.blog/2024/02/18/guide-to-card.html"
        >Guide to Card Sleeves</a
      >
    </li>
  </ul>

  <h3>Thoughts and opinions</h3>
  <ul>
    <li>
      <a href="https://havn.blog/2024/04/16/advice-for-how.html">Advice for</a>
      How To Make Sure You Never Create Anything
    </li>
    <li>
      The Beauty of
      <a href="https://havn.blog/2024/09/05/161428.html"
        >Third-Party Services</a
      >
      and Open Protocols and Standards
    </li>
    <li>
      <a href="https://havn.blog/2024/05/18/why-i-use.html"
        >Why I Use Fastmail</a
      >
    </li>
    <li>
      <a href="https://havn.blog/2024/05/31/my-search-engine.html"
        >My Search Engine</a
      >
      Is Perhaps My Favourite Tech Product
    </li>
    <li>
      <a href="https://havn.blog/2024/06/11/what-makes-telegram.html"
        >What Makes Telegram Great</a
      >
    </li>
    <li>
      <a href="https://havn.blog/2023/03/17/machines-ai-and.html"
        >Machines, AI,</a
      >
      and the Most Important Question in the World
    </li>
    <li>
      <a href="https://havn.blog/2024/03/13/to-the-sigmaos.html"
        >Why I Don't Like Arc's Direction</a
      >
    </li>
    <li>
      <a href="https://havn.blog/2024/03/11/ai-is-just.html"
        >AI Is Just Different</a
      >
      <ul>
        <li>
          On comparing ethics surrounding AI with those surrounding humans.
        </li>
      </ul>
    </li>
    <li>
      <a href="https://havn.blog/2024/05/17/lead-paint-is.html"
        >Lead Paint Is Amazing</a
      >
      <ul>
        <li>
          Also about AI, and how things can be functional and problematic at the
          same time.
        </li>
      </ul>
    </li>
    <li>
      <a href="https://havn.blog/2024/02/26/why-is-almost.html"
        >Why Do So Many Apps</a
      >
      Have Weird Margins?
      <ul>
        <li>
          I really don't agree with the timeline margins chosen by most social
          media clients!
        </li>
      </ul>
    </li>
    <li>
      <a href="https://havn.blog/2024/03/07/no-apple-youre.html"
        >Apple Is Not the Reason</a
      >
      I’m Buying Apple Products - These People Are
    </li>
    <li>
      <a href="https://havn.blog/2024/03/09/an-idea-for.html"
        >An Idea For Better Music Streaming</a
      >
    </li>
  </ul>

  <h2>Planned:</h2>
  <ul>
    <li>My Bass Guitar Setup</li>
  </ul>
</div>
{{ end }}
