{{ define "main" }}
<div id="navPadding"></div>
<h1 class="page-title">Pocket Garden</h1>
<div class="custom-page-content">
  <p>
    Here I'll add semi-permanent posts, inspired by
    <a href="https://maggieappleton.com/garden">digital gardens like this</a>.
    They are marked with the seedling emoji 🌱 - also to indicate that they're
    living posts, that will change over time.
  </p>
  <h2>These are out already:</h2>
  <ul>
    <li>
      <a href="https://havn.blog/2024/02/20/the-ethics-and.html"
        >The ethics and principles behind my blog</a
      >
    </li>
    <li>
      <a href="https://havn.blog/2024/02/20/my-tech-setup.html"
        >My tech setup</a
      >
    </li>
  </ul>
  <h3>These are planned:</h3>
  <ul>
    <li>My default apps</li>
    <li>My bass guitar setup</li>
  </ul>
</div>
{{ end }}
