{{ define "main" }}
<div id="navPadding"></div>
<h1 class="page-title">Mastodon etc.</h1>
<div class="custom-page-content">
  <p>
    You can follow the blog, and it's micro blog portion, directly in Mastodon,
    Firefish, etc. by searching for this username there: 👇🏻 <br />
    <code>@micro@havn.blog</code>
  </p>
  <p>
    You can also follow my personal account! Search for this username: 👇🏻<br />
    <code>@havn@mas.to</code>
  </p>
  <p>
    You could also follow <a href="https://mas.to/@havn">this link</a>. (If
    you're on mobile, you can long press, share and click "Open in [your app of
    choice]".)
  </p>
</div>
{{ end }}
