{{ define "main" }}
<div class="custom-page-content">
  <div id="navPadding"></div>
  <h1 class="page-header">Mastodon etc.</h1>
  <p>
    You can follow the blog, and it's micro blog portion, directly in Mastodon,
    Firefish, etc. by searching for this username there:
    <code>@micro@havn.blog</code>
  </p>
  <p>
    You can also follow my personal account! Search for this username:
    <code>@havn@mas.to</code>
    writing.exchange
  </p>
  <p>
    You could also follow <a href="https://mas.to/havn">this link</a>. (If
    you're on mobile, you can long press, share and click "Open in [your app of
    choice]".)
  </p>
</div>
{{ end }}
