{{ define "main" }}
<div id="navPadding"></div>
<h1 class="page-title">RSS feeds</h1>
<div class="custom-page-content">
  <p>
    Every category has their own RSS feed - but my advice is to either follow
    the feed with every <em>English</em> long post, or every
    <em>Norwegian</em> long post. That way, your feed won't get flooded with
    micro posts!
  </p>
  <p></p>
  <p>
    <a href="https://havn.blog/categories/english/feed.xml">Here's the link</a>
    to the English feed.
  </p>
  <p class="feed-link">
    You can also copy it here:
    <br /><code>https://havn.blog/categories/english/feed.xml</code>
  </p>
  <p><br /></p>
  <p>
    <a href="https://havn.blog/categories/norsk/feed.xml">Here's the link</a>
    to the English feed.
  </p>
  <p class="feed-link">
    And you can copy it here:
    <br /><code>https://havn.blog/categories/norsk/feed.xml</code>
  </p>
</div>
{{ end }}
