<div id="footer-list-container">
  <div id="footer-list">
    <p>Contact and/or follow</p>
    <ul>
      <li id="icon-li">
        <a href="https://havn.blog" class="follow-icon" id="havn-icon"
          ><span class="asset-alt">Havn.blog</span></a
        >
      </li>
      <li>
        <a href="https://havn.blog/rss" class="follow-icon" id="rss-icon"
          ><span class="asset-alt">RSS</span></a
        >
      </li>
      <li>
        <a href="https://micro.blog/Havn" class="follow-icon" id="micro-icon"
          ><span class="asset-alt">Micro.blog</span></a
        >
      </li>
      <li>
        <a href="https://havn.blog/masto" class="follow-icon" id="masto-icon"
          ><span class="asset-alt">Mastodon</span></a
        >
      </li>
      <li>
        <a href="https://havn.blog/email" class="follow-icon" id="email-icon"
          ><span class="asset-alt">Email</span></a
        >
      </li>
    </ul>
  </div>
</div>

<a href="https://ko-fi.com/havnblog" id="cofee-button"
  ><span class="asset-alt">Buy me a coffee.</span></a
>
