<nav view-transition-name="nav">
  <ul>
    <li>
      <a
        href="https://havn.blog/categories-and-subjects"
        view-transition-name="link-categories"
        >Categories</a
      >
    </li>
    <li>
      <a href="https://havn.blog/garden" view-transition-name="link-garden"
        >Pocket garden</a
      >
    </li>
    <li>
      <a href="https://havn.blog/micro" view-transition-name="link-garden"
        >Micro blog</a
      >
    </li>
    <li>
      <a href="https://havn.blog/about" view-transition-name="link-about"
        >About</a
      >
    </li>
  </ul>
</nav>

<a href="#" id="back-to-top">
  <img id="up-arrow" src="" alt="Back to top" />
</a>
