<link rel="preload" as="image" href="/assets/havn-logo.png" />
<link rel="preload" as="image" href="/assets/havn-logo-dm.png" />
<link rel="me" href="https://mas.to/@havn" />

<link rel="shortcut icon" href="/assets/havn-icon-lm.png" type="image/x-icon" />
<link
  rel="apple-touch-icon"
  href="/assets/havn-icon-lm.png"
  type="image/x-icon" />
<link
  rel="alternate"
  type="application/rss+xml"
  href="https://havn.blog/categories/english/feed.xml"
  title="RSS feed for English posts" />
<link
  rel="alternate"
  type="application/rss+xml"
  href="https://havn.blog/categories/norsk/feed.xml"
  title="RSS feed for Norwegian posts" />

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="/js/lite-yt-embed.js"></script>
<script src="/js/havn-scripts.js"></script>
<script src="/js/barefoot.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    var barefoot = new BareFoot({
      scope: "body, .p-summary",
    });
    barefoot.init();
  });
</script>
