<div id="follow-list">
  <p>Contact and/or follow</p>
  <ul>
    <li id="icon-li">
      <a href="https://havn.blog" class="follow-icon" id="havn-icon"
        ><span class="asset-alt">Havn.blog</span></a
      >
    </li>
    <li>
      <a href="https://havn.blog/rss" class="follow-icon" id="rss-icon"
        ><span class="asset-alt">RSS</span></a
      >
    </li>
    <li>
      <a href="https://havn.blog/micro" class="follow-icon" id="micro-icon"
        ><span class="asset-alt">Micro.blog</span></a
      >
    </li>
    <li>
      <a href="https://havn.blog/masto" class="follow-icon" id="masto-icon"
        ><span class="asset-alt">Mastodon</span></a
      >
    </li>
    <li>
      <a href="https://havn.blog/email" class="follow-icon" id="email-icon"
        ><span class="asset-alt">Email</span></a
      >
    </li>
  </ul>
</div>

<script>
  let followList = document.getElementById("follow-list");

  window.addEventListener(
    "scroll",
    _.throttle(function () {
      let pageHeight = document.documentElement.scrollHeight;
      let scrollDistanceFromBottom =
        pageHeight - window.pageYOffset - window.innerHeight;

      if (scrollDistanceFromBottom < 100) {
        followList.classList.add("move-down");
      } else {
        followList.classList.remove("move-down");
      }
    }, 700),
  );
</script>
