<link rel="preload" as="image" href="/assets/havn-logo.png" />
<link rel="preload" as="image" href="/assets/havn-logo-dm.png" />
<link rel="preload" as="image" href="/assets/havn-logo-transp.png" />
<link rel="preload" as="image" href="/assets/havn-logo-dm-transp.png" />
<link rel="preload" as="image" href="/assets/havn-no.png" />
<link rel="preload" as="image" href="/assets/havn-rss.png" />
<link rel="preload" as="image" href="/assets/havn-microblog.png" />
<link rel="preload" as="image" href="/assets/havn-masto.png" />
<link rel="preload" as="image" href="/assets/havn-mail.png" />

<link
	rel="preload"
	href="/fonts/TT_Norms_Pro_Variable.woff2"
	as="font"
	type="font/woff2"
	crossorigin="anonymous"
/>
<link
	rel="preload"
	href="/fonts/TT_Norms_Pro_Mono_Variable.woff2"
	as="font"
	type="font/woff2"
	crossorigin="anonymous"
/>
<link
	rel="preload"
	href="/fonts/TT_Norms_Pro_Serif_Var_Italic.woff2"
	as="font"
	type="font/woff2"
	crossorigin="anonymous"
/>
<link
	rel="preload"
	href="/fonts/TT_Norms_Pro_Serif_Var_Roman.woff2"
	as="font"
	type="font/woff2"
	crossorigin="anonymous"
/>

<link rel="me" href="https://mas.to/@havn" />
<link rel="me" href="https://micro.blog/havn" />
<meta name="fediverse:creator" content="@havn@mas.to" />
<meta name="fediverse:creator" content="@havn@mas.to" />

<link rel="shortcut icon" href="/assets/havn-icon-lm.png" type="image/x-icon" />
<link
	rel="apple-touch-icon"
	href="/assets/havn-icon-lm.png"
	type="image/x-icon"
/>
<link
	rel="alternate"
	type="application/rss+xml"
	href="https://havn.blog/categories/english/feed.xml"
	title="RSS feed for English posts"
/>
<link
	rel="alternate"
	type="application/rss+xml"
	href="https://havn.blog/categories/norsk/feed.xml"
	title="RSS feed for Norwegian posts"
/>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="/js/soundcite.js"></script>
<script src="/js/lite-yt-embed.js"></script>
<script src="/js/havn-scripts.js"></script>
<script src="/js/barefoot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
	document.addEventListener("DOMContentLoaded", (event) => {
		hljs.highlightAll();
	});
</script>

<script>
	document.addEventListener("DOMContentLoaded", (event) => {
		var barefoot = new BareFoot({
			scope: "body, .p-summary",
		});
		barefoot.init();
	});
</script>
