<nav>
  <ul>
    <li><a href="https://havn.blog/categories">Categories</a></li>
    <li><a href="https://havn.blog/garden">Pocket garden</a></li>
    <li><a href="https://havn.blog/micro">Micro blog</a></li>
    <li><a href="https://havn.blog/about">About</a></li>
  </ul>
</nav>

<a href="#" id="back-to-top">
  <img id="up-arrow" src="" alt="Back to top" />
</a>
<script>
  var topButton = document.getElementById("back-to-top");
  var topArrow = document.getElementById("up-arrow");

  window.addEventListener(
    "scroll",
    _.throttle(function () {
      if (window.pageYOffset > 250) {
        topButton.classList.add("show-button");
      } else {
        topButton.classList.remove("show-button");
      }
    }, 1000),
  );

  const initialSrc2 = "/assets/short-arrow.png";
  const hoverSrc2 = "/assets/long-arrow.png";

  topArrow.src = initialSrc2;
  topArrow.dataset.src = hoverSrc2;

  topArrow.onmouseover = function () {
    topArrow.src = hoverSrc2;
  };

  topArrow.onmouseout = function () {
    topArrow.src = initialSrc2;
  };

  topButton.addEventListener("click", function (e) {
    e.preventDefault();
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
</script>
