<a href="https://havn.blog" class="header-image">
  <img id="logo" src="" data-src="" alt="Havn logo" />
</a>

<script>
  const style = getComputedStyle(document.documentElement);

  const initialSrc = style.getPropertyValue("--havn-logo").trim();
  const hoverSrc = style.getPropertyValue("--havn-logo-hover").trim();

  var logo = document.getElementById("logo");
  logo.src = initialSrc;
  logo.dataset.src = hoverSrc;

  logo.onmouseover = function () {
    logo.src = hoverSrc;
  };

  logo.onmouseout = function () {
    logo.src = initialSrc;
  };
</script>
