<link rel="preload" as="image" href="/assets/havn-logo.png" />
<link rel="preload" as="image" href="/assets/havn-logo-dm.png" />
<link rel="preload" as="image" href="/assets/long-arrow.png" />

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

<link rel="shortcut icon" href="/assets/havn-icon-lm.png" type="image/x-icon" />
<link
  rel="apple-touch-icon"
  href="/assets/havn-icon-lm.png"
  type="image/x-icon"
/>
<link
  rel="alternate"
  type="application/rss+xml"
  href="https://havn.blog/categories/english/feed.xml"
  title="RSS feed for English posts"
/>
<link
  rel="alternate"
  type="application/rss+xml"
  href="https://havn.blog/categories/norsk/feed.xml"
  title="RSS feed for Norwegian posts"
/>
