<nav view-transition-name="slide-nav">
  <ul>
    <li>
      <a
        href="https://havn.blog/categories-and-subjects"
        data-target="categories"
        >Categories</a
      >
    </li>
    <li>
      <a href="https://havn.blog/garden" data-target="garden">Pocket garden</a>
    </li>
    <li>
      <a href="https://havn.blog/micro" data-target="micro">Micro blog</a>
    </li>
    <li><a href="https://havn.blog/about" data-target="about">About</a></li>
  </ul>
</nav>

<a href="#" id="back-to-top">
  <img id="up-arrow" src="" alt="Back to top" />
</a>
